@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --hero-footer: #1f2937;
    --main-font: #f9faf8;
    --secondary-text: #e5e7eb;
    --button: #3882f6;
    --dark-font: #1f2937;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

button {
    background-color: var(--button);
    color: var(--main-font);
}

/* Hero section */
ul, a {
    text-decoration: none;
    list-style: none;
    color: var(--main-font);
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--hero-footer);
    height: 300px;
    color: var(--main-font);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 100px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}
