@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
    --hero-footer: #1f2937;
    --main-font: #f9faf8;
    --secondary-text: #e5e7eb;
    --button: #3882f6;
    --dark-font: #1f2937;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

.container {
    padding: 0 200px;
}

button {
    background-color: var(--button);
    color: var(--main-font);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

/* Hero section */
ul, a {
    text-decoration: none;
    list-style: none;
    color: var(--main-font);
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--hero-footer);
    flex: 1;
    color: var(--main-font);
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.nav :first-child {
    flex: 1;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50px 0 100px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}

.content p {
    font-size: 18px;
    color: var(--secondary-text);
    margin: 0 0 10px;
}

.content-image {
    align-self: stretch;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-image {
    width: 100%;
    max-height: 350px;
    min-width: 250px;
    object-fit: cover;
}

/* Info Section */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

.cards-container {
    display: flex;
    gap: 16px;
    margin-bottom: 100px;
}

.card {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 300;
    padding: 10px;
}

.card-image {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
}

/* Quote */
.quote {
    background-color: var(--secondary-text);
}


/* Footer */
.footer {
    background-color: var(--hero-footer);
    color: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
}